*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

/*Home Page Styling*/ 
.main-header{
    margin: auto;
    max-width: 60%;
    color: #008E86;
    font-size: 28px;
    padding-bottom: 40px;
    padding-top: 60px;
}

.intro-statement{
    margin: auto;
    width: 60%;
    word-spacing: 1px;
    line-height: 1.7;
    font-size: 16px;
    padding-bottom: 80px;
}

.intro{
    width: 70%;
}

.row{
    margin: auto;
    max-width: 60%;
}

.email, .book{
    width: 100%;
    height: auto;
    align-items: center;
}

.column {
    float:left;
    width:50%;
    height: 100px
}

.row-statflo{
    margin: auto;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.column-statflo{
    width:25%;
    padding-right: 10px;
}

.column-side-by-side{
    width:50%;
    margin-bottom: 20px;
}

.intro-side-by-side{
    margin: auto;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}

/*Nav Bar*/
nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    max-width: 60%;
    margin: auto;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: #008E86;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .logo {
    font-size: 50px;
    cursor: pointer;
    background: linear-gradient(45deg,#f73764 0%,#81dbf7 33.33%, #f73764 66.67%, #81dbf7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:15px;
}

/*Nav*/
nav {
    background: #ffffff;
    color: black;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: #008E86;
    color: #ffffff;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width: 800px){

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: #008E86;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: #008E86;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
/*Responsiveness*/

@media screen and (max-width: 1200px){
    .column-statflo{
        width:40%
    }
}

@media screen and (max-width: 600px){
    .column-statflo{
        width: 90%
    }
}

.book-image1{
    width: 100%;
}

.text-side1{
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 1200px){
    .intro-side-by-side{
        width:50%
    }
}

@media screen and (max-width: 900px){
    .column-side-by-side{
        width: 100%
    }
}

 /*2 column styling*/ 

.side-by-side{
    margin: auto;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.column-double{
    width:50%;
}

@media screen and (max-width: 1200px){
    .column-double{
        width:40%
    }
}

@media screen and (max-width: 600px){
    .column-double{
        width: 90%
    }
}

.case-study-title{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.case-study-title a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #008E86;
}


/*About Page Styling*/ 
.header-about{
    margin: auto;
    max-width: 80%;
    color: #008E86;
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 40px;
}


.about-images{
    width: 100%;
    padding-left: 40px;
}

.text-about{
    margin: auto;
    width: 80%;
    height: auto;
    font-size: 16px;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.sidebyside{
    width: 50%;
}

@media screen and (max-width: 1200px){
    .sidebyside{
        width:40%
    }
}

@media screen and (max-width: 900px){
    .sidebyside{
        width: 90%
    }
}

/*Case Study Text Styling*/ 


.section-header{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.bigger-section-headers{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul.ordered-lists{
    font-size: 14px;
    list-style-position: outside;
    padding-left: 15px;
    line-height: 1.6;

}

.prototype-button{
    width: 150px;
    height: 30px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 1px;
    transition: ease-out 0.3s;
    font-size: 14px;
    outline: none;
    border: 1.5px solid #008E86;
    background-color: white;
    color: #008E86;
    position: relative;
    z-index: 1;
}

.prototype-button:hover {
    color: #ffffff;
    cursor: pointer;
}

.prototype-button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #008E86;
}

.prototype-button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/*goodreads Styling*/ 

.book-image{
    margin: auto;
    width: 300px;
}

.text-side{
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
}
.goodreads-image{
    margin: auto;
    max-width: 60%;
    align-items: baseline;
    display: flex;
    margin-bottom: 40px;
}

.gimage{
    width: 100%;
}
.designs-gimage{
    margin-top: 24px;
    width: 100%;
}

.goodreads-title h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 22px;
    padding-bottom: 40px;
    padding-top: 20px;
    margin: auto;
    max-width: 60%;
    line-height: 1.4;
}


.goodreads-paragraph{
    margin: auto;
    max-width: 60%;
}

/*  
    in h1
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    *\